<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.application-identifier</key>
	<string>83NQU389JN.org.eof.tools.DRFXBuilder</string>
	<key>com.apple.developer.team-identifier</key>
	<string>83NQU389JN</string>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.org.eof.apps</string>
	</array>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
</dict>
</plist>
