<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleName</key>
	<string>EoF DRFX Builder</string>
	<key>CFBundleExecutable</key>
	<string>drfxbuilder</string>
	<key>CFBundleDisplayName</key>
	<string>EoF DRFX Builder</string>
	<key>CFBundleIconFile</key>
	<string>drfxbuilder.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.eof.tools.DRFXBuilder</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSUIElement</key>
	<false/>
	<key>LSUIPresentationMode</key>
	<integer>0</integer>
	<key>LSVisibleInClassic</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>12.2</string>
	<key>NOTE</key>
	<string>Copyright © 2025 by EoF Software Labs</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrefPaneIconFile</key>
	<string>drfxbuilder.icns</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Permit scan for unwanted files.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Permit for write or save files.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Permit write or save files.</string>
	<key>OSBundleUsageDescription</key>
	<string>Permit to manage unwanted files.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Permit to manage unwanted files.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Shows informative messages about the state of the activities.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Permit to manage unwanted files.</string>
	<key>UILaunchImageFile</key>
	<string>drfxbuilder.png</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>DRFX Builder Bundle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>drfx</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
